html,
body {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #252525;
  --alert-color: rgba(255, 230, 0, 0.5);
  --alert-border: #fffb00;
  --alert-text: #000000;
}

body {
  background-color: var(--bg-color);
}

.alert {
  background-color: var(--alert-color);
  border: 2px solid var(--alert-border);
}

#card {
  width: fit-content;
}

.card {
  margin-bottom: 200px;
}

.ship {
  width: fit-content;
}

/* #fixed {
    background: url('../images/newhome1.png') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
}

#welcome {
    color: white;
    text-align: center;
    text-shadow: 3px 1px 2px black;
} */

.modalEl {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  padding: auto auto;
}

.modal-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  padding: 10px;
}

.modal-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  backdrop-filter: blur(10px);
}

.modal-body {
  border-bottom: 1px solid white;
  padding: 15px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}

.testimonials-container {
  background-color: black;
  padding: 3;
  border-radius: 10px;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #ffffff #000000;
  scrollbar-width: thin;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.testimonial-card {
  background-color: #000000;
  color: white;
  border-radius: 0;
  border-bottom: 1px solid white;
}

.btn-primary {
  border-radius: 0;
  background-color: black;
  border: 2px solid white;
}

.btn-primary:hover {
  background-color: white;
  color: black;
  border: none;
}
